* {
  padding: 0;
   margin: 0;
   box-sizing: border-box;
}
header {
   width: 100%;
   display: flex;
   justify-content: center;
    margin: 0px;
    padding: 20px 0 20px 0;
    color: black;
    border-top: 2px solid black;     
    border-bottom: 2px solid black;  
    border-left: 2px solid white;               
    border-right: 2px solid white;
    gap: 40px;
} 
.menu {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul {
    display: flex;
    gap: 30px;
    list-style: none;             
}
nav ul li a {
    font-size: 13pt;
    text-decoration: none;
    color: #393F63;
    font-weight: bold;
    position: relative;
    padding: 12px 0;
}
nav ul a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: #B90DE2;
    transition: width 0.2s;
}
nav ul li a:hover::before {
    width: 50%;
}

@media (max-width: 480px){
  .cuadro {
    width: 100%;
    font-size: 16px;
    padding: 0px;
  }
  .header{
    width: 480px;
    
  }
  .menu{
    flex-direction: column;  
        gap: 15px;
        text-align: center;
        padding: 10px 0;
  }
}