<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title> <link rel="stylesheet" href="styles/footer-styles.css">
</head>
<body>
    <footer>
        <div class="info-box-footer">
        <div id="menu">
            <p class="big"><i class="fa-solid fa-newspaper"></i><br>Blog</p>
            <p class="big">Portafolio</p>
            <p class="big"><i class="fa-solid fa-bars"></i></i><br>Filtros</p>
        </div>
    </div>
    </footer>
</body>
</html>